
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


html {
  /*-- Main font sizes --*/
  --title-size:      24px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  --heading-size:    0.7rem;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Open Sans', sans-serif;
  --mono-font:       monospace;
  --body-font:       'Open Sans', sans-serif;
  --navbar-font:     'Open Sans', sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --heading-font:    'Open Sans', sans-serif;
  --title-size:       20px;
  --text-color:       rgba(0, 148, 0, 1.0);
  --text-size:        18px;
  --hover-color:      white;
  --bkgd-color:       #009400;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        0.4rem;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/*-- James specific bits --*/
.full-width {
  --width: 100%;
  --bkgd-color: #009400;
}

.aside {
  --width:          30%;
  --padding-left:   15px;
  --margin-left:    15px;
  --float:          left;
}

.h1 {
  --text-size:        1.0em;
}
}

/* styling for icon-link buttons (see distilltools::icon_link()) */
.icon-link {
    background-color: transparent;
    color: #D4006A;
    border: 1px solid;
    border-color: #D4006A;
    padding: 5px .4rem 5px .4rem;
    /*margin: 4px;*/
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; /* Rounded edges */
}

.icon-link:hover {
    background-color: #D4006A;
    border-color: #D4006A;
    color: white;
}